.yellow{
    color: yellow;

}
#greycol{
    color: gray;
}
div ~ p {
    color: green;
}
div + div > p {
    color: red;
}
h3:first-child {
    color: pink;
}



.list-itom{
    color: rgb(119, 16, 139);
}
.list-itom:hover, .list-itom1:hover, .list-itom2:hover, .list-itom3:hover, .list-itom4:hover {
    background-color: rgb(43, 26, 139);
}
.list-itom1{
    color: rgb(150, 13, 36);
}
.list-itom2{
    color: rgb(40, 158, 24);
}
.list-itom3{
    color: rgb(13, 45, 104);
}
.list-itom4{
    color: rgb(236, 236, 100);
}
.list-itom5{
    color: rgb(65, 206, 175);
}
.list-itom5:hover{
    background-color: brown;
}

.list-itom6{
    color: rgb(184, 86, 6);
}
.list-itom6:hover {
    background-color: rgb(163, 189, 19);
}
.list-itom7{
    color: rgb(193, 27, 199);
}
td:hover{
    color: rgb(25, 0, 255);
}
td:first-child{
    color: rgb(0, 0, 0);
}
  td:empty {
    color: rgb(21, 214, 134);
  }
  td:last-child{
    background-color: rgb(148, 11, 41);
  }
  td:nth-child(3)
  {
color: blueviolet;
  }   
  td:nth-child(even){
    color: rgb(22, 94, 70);
  }